{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Post a New Ad</h1>
    
    <form method="POST" enctype="multipart/form-data" class="row g-3">
        {{ form.hidden_tag() }}
        
        <div class="col-12">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>
        
        <div class="col-12">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control", rows=5) }}
        </div>
        
        <div class="col-md-4">
            {{ form.price.label(class="form-label") }}
            {{ form.price(class="form-control") }}
        </div>
        
        <div class="col-md-4">
            {{ form.area.label(class="form-label") }}
            {{ form.area(class="form-control") }}
        </div>
        
        <div class="col-md-4">
            {{ form.category.label(class="form-label") }}
            {{ form.category(class="form-select") }}
        </div>
        
        <div class="col-12">
            <label class="form-label">Photos (max 6)</label>
            <input type="file" name="photos" multiple accept="image/*" class="form-control">
            <small class="text-muted">JPG, PNG, GIF only</small>
        </div>
        
        <div class="col-12">
            {{ form.submit(class="btn btn-success btn-lg w-100") }}
        </div>
    </form>
</div>
{% endblock %}